<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Admin panel untuk aplikasi eventpaskibra">
    <meta name="author" content="Andika Ahmad Ramadhan">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="robots" content="all,follow">
    <link rel="icon" type="image/png" sizes="64x64" href="libs/img/favicon.png">
    <title><%= page.title %> | <%= page.actor %> | Admin Angkota</title>
    <!-- Core CSS -->
    <link rel="stylesheet" href="libs/back/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="libs/back/css/datatables.min.css"/>
    <link rel="stylesheet" href="libs/back/css/dropify.css">
    <link rel="stylesheet" href="libs/back/css/skins/flat/green.css">
    <link rel="stylesheet" href="libs/back/css/select2.min.css">
    <link rel="stylesheet" href="libs/back/css/bootstrap-datetimepicker.min.css">
    <!-- Custom CSS -->    
    <link rel="stylesheet" href="libs/back/css/helper.css"/>
    <link rel="stylesheet" href="libs/back/css/style.css?v='.rand(0,99)) }}"/>
    <!-- Load Jquery First -->
    <script src="libs/back/js/jquery.min.js"></script>
    {{-- <link rel="stylesheet" href="libs/back/css/eventpaskibra.css?v='.rand(0,99)) }}"> --}}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->    
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->    
    <!-- Script untuk inisialisasi variabel dan kolom -->
    <script>
        var idh = page.view;
        var id_table;
        var DT;
        var columns = [];
        var AjaxData = {};
    </script>
</head>

<body class="fix-header fix-sidebar">

    <!-- Masukkan navbar -->
    <%= page.title %>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- Masukkan sidebar -->
        <%= page.actor %>
        <!-- Masukkan footer -->        
        <%= page.view %>
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->

    <!-- Modal Loading -->
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md modal-tengah" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="loadingModalTitle">Loading</h4>
                </div>
                <div class="modal-body text-center" id="modalLoadingText">
                    <i class="fa fa-spinner fa-spin"></i>&nbsp; Sedang memproses permintaan anda ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i>&nbsp; Batal</button>
                </div>
            </div>
        </div>
    </div>

    <button onclick="tambah()">tambah</button>

    <!-- All Javascript files -->
    <script src="libs/back/js/jquery.cookie.js"></script>
    <script src="libs/back/js/popper.min.js"></script>
    <script src="libs/back/js/icheck.min.js"></script>
    <script src="libs/back/js/sweetalert.js"></script>
    <script src="libs/back/js/jquery.slimscroll.js"></script>
    <script src="libs/back/js/bootstrap.min.js"></script>
    <script src="libs/back/js/sidebarmenu.js"></script>
    <script src="libs/back/js/sticky-kit.min.js"></script>
    <script src="libs/back/js/custom.min.js"></script>
    <script src="libs/back/js/scripts.js"></script>    
    <script src="libs/back/js/Chart.min.js"></script>
    <script src="libs/back/js/jquery.validate.min.js"></script>    
    <script src="libs/back/js/datatables.min.js"></script>
    <script src="libs/back/js/dropify.js"></script>
    <script src="libs/back/js/select2.js"></script>
    <script src="libs/back/js/moment.js"></script>
    <script src="libs/back/js/ckeditor.js"></script>
    <script src="libs/back/js/bootstrap-datetimepicker.js"></script>     
    <!-- scripit init-->    
    <script src="libs/back/js/front.js'"></script>
    <script src="libs/back/js/eventpaskibra.js?v=<%= 12 %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>  
        var socket = io.connect('http://localhost:3001/adminSocket');
        var namaGambar = 0;
        function tambah(){
            namaGambar++;
        }
        socket.on('connect', function(data) {
            socket.emit('join', 'Hello World from client');
        });

        socket.on('messages', function(data) {
            console.log(namaGambar);
            console.log(data);
        });
    </script>
</body>
</html>
