<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="description" content="Angkota platform untuk memantau angkutan kota yang sedang beroperasi">
    <meta name="keywords" content="Angkutan Kota, Jasa Raharja, Asuransi">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Andika Ahmad Ramadhan">
    <title>Angkota - Kemudahan Angkutan Kota dalam Satu Platform</title>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">	
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
	<link href="libs/front/css/material.min.css" rel="stylesheet">
	<link href="libs/front/css/main.css" rel="stylesheet">
	<link href="libs/front/css/responsive.css" rel="stylesheet">
</head>
<body>
	<div class="content-wrap">
		<header class="hero-area" id="home">
			<div class="container">				
				<div class="contents text-right">
					<h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
						<b>Angkota</b> - Solusi Angkutan Umum Kota di Dalam Genggaman
					</h1>
					<p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">
						Dilengkapi dengan integrasi sistem Jasa Raharja yang memudahkan dalam proses klaim asuransi
					</p>
					<a href="#why" class="btn btn-lg btn-primary wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="400ms">Download Aplikasi</a>
					<a href="#features" class="btn btn-lg btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">Pelajari lebih lanjut</a>
				</div>
			</div>
		</header>

		<section id="features" class="section">
			<div class="container">
				<div class="section-header">
					<h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">App Features</h1>
					<h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Who seeks after it and wants to have it</h2>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
						<div class="features">
							<div class="icon">
								<i class="mdi-action-settings"></i>
							</div>
							<div class="features-text">
								<h4>Built-with Bootstrap 3.5.x</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
						<div class="features">
							<div class="icon">
								<i class="mdi-action-done-all"></i>
							</div>
							<div class="features-text">
								<h4>Material Design</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
						<div class="features">
							<div class="icon">
								<i class="mdi-image-blur-linear"></i>
							</div>
							<div class="features-text">
								<h4>Clean and Refreshing</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
						<div class="features">
							<div class="icon">
								<i class="mdi-communication-business"></i>
							</div>
							<div class="features-text">
								<h4>Ready for Business or App</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="750ms">
						<div class="features">
							<div class="icon">
								<i class="mdi-action-favorite"></i>
							</div>
							<div class="features-text">
								<h4>Crafted with Love</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="850ms">
						<div class="features">
							<div class="icon">
								<i class="mdi-hardware-phonelink"></i>
							</div>
							<div class="features-text">
								<h4>Fully Responsive Layout</h4>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="why" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
						<img src="img/features/img1.png" alt="">
					</div>
					<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
						<div class="pull-left content">
							<h2>This is Why You Will
								<br> Love Pluto</h2>
							<p>
								Material UI Bootstrap APP and Business Template orem ipsum
								<br> dolor sit amet, consectetur adipIusto quisquam idodit dolore inventore
								<br> eumetur adipIusto quisquam idodit dolore inventore eum' dolor sit amet, consectetur adipIusto quisquam idodit dolore
								inventore
								<br>
							</p>
							<ul class="list-item">
								<li>
									<i class="mdi-action-done"></i>OffCanvas Menu</li>
								<li>
									<i class="mdi-action-done"></i>Based on Material design</li>
								<li>
									<i class="mdi-action-done"></i>Free to Use</li>
								<li>
									<i class="mdi-action-done"></i>Built-with Bootstrap 3.5.x</li>
								<li>
									<i class="mdi-action-done"></i>Refreshing Designß</li>
							</ul>
							<a href="javascript:void(0)" class="btn btn-lg btn-primary">Downoad Now!</a>
						</div>
					</div>
				</div>
			</div>
		</section>		

		<section id="cta">
			<div class="container">
				<div class="row text-center">
					<h3 class="title-small wow bounce" data-wow-duration="1000ms" data-wow-delay="300ms">Join Us Today and Change Yourself</h3>
					<a href="javascript:void(0)" class="btn btn-lg btn-border">Sign Up</a>
				</div>
			</div>
		</section>

		<section id="screenshot" class="section" style="padding-bottom: 0px;">
			<div class="container">
				<div class="section-header">
					<h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">Screenshots</h1>
					<h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Material UI Bootstrap APP and Business Template</h2>
				</div>
			</div>
			<div class="row" style="margin:0; padding:0;">
				<div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
					<div class="portfolio">
						<figure class="effect-julia">
							<img src="img/portfolio/img1.jpg" alt="">
							<figcaption>
								<div class="heading">
									<h3>Screenshot 1</h3>
									<p>
										MATERIAL UI BOOTSTRAP APP AND BUSINESS TEMPLATE
									</p>
								</div>
								<div class="icon">
									<i class="mdi-content-add-circle-outline"></i>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
					<div class="portfolio">
						<figure class="effect-julia">
							<img src="img/portfolio/img2.jpg" alt="">
							<figcaption>
								<div class="heading">
									<h3>Screenshot 2</h3>
									<p>
										MATERIAL UI BOOTSTRAP APP AND BUSINESS TEMPLATE
									</p>
								</div>
								<div class="icon">
									<i class="mdi-content-add-circle-outline"></i>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
					<div class="portfolio">
						<figure class="effect-julia">
							<img src="img/portfolio/img3.jpg" alt="">
							<figcaption>
								<div class="heading">
									<h3>Screenshot 3</h3>
									<p>
										MATERIAL UI BOOTSTRAP APP AND BUSINESS TEMPLATE
									</p>
								</div>
								<div class="icon">
									<i class="mdi-content-add-circle-outline"></i>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
					<div class="portfolio">
						<figure class="effect-julia">
							<img src="img/portfolio/img4.jpg" alt="">
							<figcaption>
								<div class="heading">
									<h3>Screenshot 4</h3>
									<p>
										MATERIAL UI BOOTSTRAP APP AND BUSINESS TEMPLATE
									</p>
								</div>
								<div class="icon">
									<i class="mdi-content-add-circle-outline"></i>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
					<div class="portfolio">
						<figure class="effect-julia">
							<img src="img/portfolio/img5.jpg" alt="">
							<figcaption>
								<div class="heading">
									<h3>Screenshot 5</h3>
									<p>
										MATERIAL UI BOOTSTRAP APP AND BUSINESS TEMPLATE
									</p>
								</div>
								<div class="icon">
									<i class="mdi-content-add-circle-outline"></i>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
					<div class="portfolio">
						<figure class="effect-julia">
							<img src="img/portfolio/img6.jpg" alt="">
							<figcaption>
								<div class="heading">
									<h3>Screenshot 6</h3>
									<p>
										MATERIAL UI BOOTSTRAP APP AND BUSINESS TEMPLATE
									</p>
								</div>
								<div class="icon">
									<i class="mdi-content-add-circle-outline"></i>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</section>
		
		<section id="testimonial" class="section">
			<div class="container">
				<div class="section-header text-center wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
					<h1 class="section-title">What People Says</h1>
					<h2 class="section-subtitle">Material UI Bootstrap APP and Business Template</h2>
				</div>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
						<div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#testimonial-carousel" data-slide-to="1"></li>
								<li data-target="#testimonial-carousel" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active text-center">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing
										elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
									</p>
									<div class="meta">
										<p>Web excutive
											<span>
												<a href="http://wingthemes.com/">WingThemes</a>
											</span>
										</p>
									</div>
								</div>
								<div class="item text-center">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing
										elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
									</p>
									<div class="meta">
										<p>Web excutive
											<span>
												<a href="http://graygrids.com/">GrayGrids</a>
											</span>
										</p>
									</div>
								</div>
								<div class="item text-center">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing
										elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
									</p>
									<div class="meta">
										<p>Web excutive
											<span>
												<a href="http://landingbow.com/">LandinBow</a>
											</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h3>Products</h3>
							<ul>
								<li>
									<a href="http://wingthemes.com/">WingThemes</a>
								</li>
								<li>
									<a href="http://graygrids.com/">Graygrids</a>
								</li>
								<li>
									<a href="http://wpbean.com/">WPBean</a>
								</li>
								<li>
									<a href="http://landingbow.com/">Landingbow</a>
								</li>
								<li>
									<a href="http://freebiescircle.com/">FreebiesCicle</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h3>FAQs</h3>
							<ul>
								<li>
									<a href="#">Why choose us?</a>
								</li>
								<li>
									<a href="#">Where we are?</a>
								</li>
								<li>
									<a href="#">Fees</a>
								</li>
								<li>
									<a href="#">Guarantee</a>
								</li>
								<li>
									<a href="#">Discount</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h3>About</h3>
							<ul>
								<li>
									<a href="#">Career</a>
								</li>
								<li>
									<a href="#">Partners</a>
								</li>
								<li>
									<a href="#">Team</a>
								</li>
								<li>
									<a href="#">Clients</a>
								</li>
								<li>
									<a href="#">Contact</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h3>Find us on</h3>
							<a class="social" href="#" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="social" href="#" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="social" href="#" target="_blank">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Go to Top Link -->
			<a href="#home" class="btn btn-primary back-to-top">
				<i class="fa fa-arrow-up" style="font-size: 25px"></i>
			</a>
		</section>

		<section id="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright-text">
							© Pluto 2015 All right reserved. Designed and Developed by
							<a href="http://graygrids.com/">
								GrayGrids
							</a>
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inview/1.0.0/jquery.inview.min.js"></script>
	<script>
		$(document).ready(function(){
		
			new WOW().init();

			$(".back-to-top").click(function() {
				$('html, body').animate({
					scrollTop: $("#home").offset().top
				}, 1100);
			});

		})
	</script>
</body>

</html>